/* Cafebranch.module.css */

.navbarInventory {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .navbarContentInventory {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbarTitleInventory {
    margin: 0;
  }
  
  .navbarLinksInventory {
    display: flex;
    gap: 15px;
  }
  
  .navbarLinkInventory {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .navbarLinkInventory:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  .dataTableWrapper {
    padding: 20px;
  }
  .bg-stock-cafe{
    width: auto;
    padding: 10px;
    border: 2px solid #853002;
    border-radius: 10px;
    background-color: white;
  }
  .form-add{
    display: flex;
    margin-bottom: 10px;
  }
  .input-cafe{
    width: auto;
    height: 30px;
  }
  .add-branch{
    padding: 5px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #853002;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }